{% from "partials/icons.njk" import edit as editIcon, download as downloadIcon, trash as trashIcon %}

{% macro fileDetailActions(file, isOwner) %}
<div class="file-detail-actions">
  {% if isOwner %}
  <a href="/files/edit/{{ file.id }}" class="btn-action btn-action-edit">
    {{ editIcon(18) }}
    Edit
  </a>
  {% endif %}
  <a href="/files/download/{{ file.id }}" class="btn-action btn-action-download">
    {{ downloadIcon(18) }}
    Download
  </a>
  {% if isOwner %}
  <form action="/files/delete/{{ file.id }}" method="POST" class="delete-form" onsubmit="return confirm('Delete this file?')">
    <button type="submit" class="btn-action btn-action-delete">
      {{ trashIcon(18) }}
      Delete
    </button>
  </form>
  {% endif %}
</div>
{% endmacro %}
